@charset "utf-8";

body {
	font-size: 95%;                 /*フォントサイズを95%にする*/
	font-color: #400000;            /*フォントの色 黒*/
	background-color: #CCFF99;      /*背景の色 薄緑*/
	line-height:4;                 /*題名の高さ*/
}

h1{
  text-align: center;
}

noscript {
	display: flex;
	text-align: center;
	height: 20%;
	width: 75%;
	margin: 0% 12.5%;
	margin-bottom: 5%;
}

noscript div {
	margin: 0;
}

noscript div.icon {
	background-color: #D00000;
	border: inset 1px #000000;
	color: #FFFFFF;
	font-size: 2em;
	padding: 0% 0%;
	width: 25%;
}

noscript div.msg {
	background-color: #FFFFFF;
	border-top: inset 1px #000000;
	border-bottom: inset 1px #000000;
	font-size: 1.8em;
	padding: 0% 0%;
	width: 50%;
}

/*--------ヘッダー画像-----------*/

#homepage{
	width:960px;
	height:360px;
	/*トップページのヘッダ画像の表示サイズを指定*/

    display: block;
    margin-left: auto;
    margin-right: auto
 }

#homepage img{
	width: 100%;
	height: 100%;
}

div#select {
    text-align: center;
}

div button {
	width: 18%;
}


h2{
	text-align: center;
		font-size: 70%;
}

#footer {
	margin-top: 3%;
}

#footer h2 {
	margin: 0%;
}
