@charset="UTF-8";

* {
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	background-color: #CCFF99;
}

#wrapper {
	width: 80%;
	margin: 0 auto 0 20px;
}

h1 {
	height: auto;
	margin: 40px 0 35px 20 px;
	padding: 0;
	color: #000;
	font-size: 30px;
	font-weight: bold;
	border-top: 0;
	line-height: 1.5;
}

h2 {
	margin: 60px 0 35px 0;
	padding: 0 0 0 15px;
	font-size: 26px;
	font-weight: bold;
	border-width: 0 0 0 10px;
	border-style: double;
	border-color: #0f5296;
}

h3 {
	padding-bottom: 10px;
	font-size: 22px;
	font-weight: bold;
	border-width: 0 0 1px 0;
	border-style: solid;
	border-color: #e6e6e6;
}

.fuseikai {
	color: red;
	font-size: 22px;
	font-weight: bold;
	/* background: blue;
    width: 80%;
    height: 430px;*/
	background-image:;
}

.seikai {
	color: blue;
}

/* 解答欄 */
#selectBox {
	border: solid 1px #000000;
	margin-left: 5%;
	text-align: center;
	width: 60%;
}

#selectBox h3 {
	background-color: #0F8F0F;
	color: #FFFFFF;
	border-bottom: 1px solid #000000;
	padding: 0;
}

#selectBox div {
	font-size: 1em;
	margin: 0 0 10px 0;
}

#selectBox div span {
	float: left;
	width: 50%;
	margin: 0 0 10px 0;
}

input[type="radio"] {
	margin-right: 5%;
}

#selectBox div button, div input[type="submit"] {
	margin: 1%;
	width: 25%;
}

/* 解説ページ（！追記） */
p {
	text-indent: 2em;
	margin-left: 2em;
	margin-bottom: 35px;
	white-space: pre;
}

button {
	margin: 0 0 3% 3%;
	width: 10%;
}
