@charset="UTF-8";

#nameInput {
	margin:1% 1%;
}

div[onclick] {
	border: solid 1px #000000;
	margin-bottom: 0;
}

ul {
	background-color: gray;
	color: white;
	list-style-type: none;
	margin-top: 0;
	margin-bottom: 0;
}

li {
	background-color: black;
	border: 1px solid #FFFFFF;
	color: white;
}

ul:last-child {
	margin-bottom: 2%;
}

textarea, input[type="text"] {
}

textarea {
	vertical-align: top;
	width: 90%;
	overflow: scroll;
	resize: vertical;
}

input[type="text"] {
}
