@charset="UTF-8";

body{
		background-color: #CCFF99;

}
div#ds{
	text-align:center;

}
h1{
	color:red;
}
div#fugoukaku{
	background-image:url("/QuestionServletSite/images/fuseikai2.png"); /* 画像のURLを指定       */
    background-repeat:  no-repeat;

      object-fit: cover;
}