@charset="UTF-8";

body {
	background-color: #CFFFCF;
	width: 100%;
	height: auto;
}

h2 {
	border-top: solid 1px #000000;
	border-bottom: solid 1px #000000;
	text-align: center;
}

div {
	margin-bottom: 2%;
}

table {
	border-collapse: collapse;
	empty-cells : show;
}

tr, td, th {
	background-color: #FFFFFF;
}

.category, .category th {
	background-color: #80FF80;
}

tr {
	height: 2.8125em;
}

th {
	border: solid 1px #000000;
	padding: 10px;
}

td {
	border-top: solid 1px #000000;
	border-right: solid 1px #000000;
	border-bottom: solid 1px #000000;
	padding: 10px;
}

#excerpt th {
	color: #FFFFFF;
	background-color: #000000;
}

#menu {
	text-align: left;
}

#menu button {
	margin: 0% 3%;
	height: 5%;
	width: 10%;
	vertical-align: middle;
}

